@import "./variables.scss";

  @font-face {
    font-family: jfOpenhuninn;
    src: url(/src/assets/fonts/jf-openhuninn-1.1.ttf);
  }

  body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: jfOpenhuninn, Courier, monospace;
  }

  .ant-btn {
    background: $bgThreeQuartersOpacity;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid #ddd;
    }
    &:hover {
      background: $mainLightgreen;
    }

    i {
      font-size: 25px;
      font-weight: bold;
      color: $mainDarkgrey;
    }
  }

